.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Dosis', sans-serif;
}
.contenido{
    background-color: rgba(255, 255, 255, 0.658);
    margin-left: 5%;
    margin-right: 5%;
}
.card{
    background-image: url(https://images4.alphacoders.com/574/574726.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    flex: 0 1 calc(25% - 1em);
    border: 3px solid rgb(255, 238, 0);
    margin-bottom: 25px;
    justify-content: center;
}
img{
    width: 100%;
}
h1{
    margin-left: 10%;
    font-size: 100%;
}
.abilities{
    margin-left: 15%;
}
.items{
    margin-left: 15%;
}
